<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment">
    <footer class="footer-wrap">
        <div class="footer-info">
            <a href="#">은행소개</a>
            <a href="#">영업점안내</a>
            <a href="#" style="color: #fff; font-weight: bold;">개인정보처리방침</a>
            <a href="#">전자민원접수</a>
            <a href="#">보안센터</a>
        </div>
        <div class="footer-copyright">
            <p>고객센터 1588-0000 | 해외 82-2-123-4567</p>
            <p>COPYRIGHTS ONBANK. ALL RIGHTS RESERVED.</p>
        </div>
    </footer>
</div>
</html>